:root {
    /*f: font, c: color, fs: font size*/
    --f-header: "Gotham Rounded Medium";
    --f-header-2: "GothamXNarrow";
    --f-normal: "Yu Gothic UI", "Gill Sans MT", "Inter";

    --c-primary: #173cf2;
    --c-secondary: #0b1f84;
    --c-background: #d6f0ff;
    --c-white: #EEEEEE;
    --c-warning: #fbff15;
    --c-error: #ff2e2e;
    --c-text: #060613;
    --c-text-white: #f5f5ff;

    --fs-h1: 5rem;
    --fs-h2: 3rem;
    --fs-h3: 2rem;
    --fs-h4: 1.5rem;
    --fs-h5: 1.2rem;
    --fs: 1rem
}

@font-face {
    font-family: "GothamXNarrow";
    src: url("./fonts/Gotham-XNarrow-Medium.woff") format("woff");
}

@font-face {
    font-family: "Gotham Rounded Medium";
    src: url("./fonts/Gotham-Rounded-Medium.woff") format("woff");
}

body {
    font-family: var(--f-normal);
}