
/* search result styling */
  .resultType{
    width: 10%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .resultName {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .resultArea {
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 80%;
    color: lightslategrey;
    text-align: right;
  }
  
  .resultRow {
    display: flex;
    flex-direction: row;
    height: 1.7vw;
  }
/* checkboxes to sliders */
.switch {
  position: relative;
  display: inline-block;
  width: 3.6vw;
  height: 2.1vw;
  top: 0.3vw;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 2vw;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 1.7vw;
  width: 1.7vw;
  left: 0.2vw;
  bottom: 0.2vw;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.5vw);
  -ms-transform: translateX(1.5vw);
  transform: translateX(1.5vw);
}

/* number inputs */

input[type=number]{
  border: var(--main-border);
}


/* preference setter */
.preferrer{
  width: 90%;
  position: relative;
  z-index: 20;
  border: var(--main-border);
  margin-top: 0%;
  position: relative;
  align-self: flex-start;
  color: #001049;
  font-size: var(--font-size);
  background: #ffffff;
  grid-area: input1;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#preferInput{
  border: none;
  z-index: 20;
  border-radius: var(--main-radius);
  border-bottom: 1px;
  margin-top: 0%;
  align-self: flex-start;
  color: #001049;
  font-size: var(--font-size);
  background: #ffffff;
  width: 100%;
}
#preferSearch{
  font-size: 1.5vw;
  max-height: 20vh;
  overflow-y: scroll;
  margin: 0;
  padding-left: 1%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.preferSearchRow{
  display: flex;
  flex-direction: row;
  height: 1.7vw;
  margin-bottom: .1vw;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.preferSearchRow span {
  flex: 2 1;
  overflow-x: scroll;
  height: 1.7vw;
  overflow-y: hidden;
  text-overflow: clip;
}
.preferrerButtons {
  --e : 3;
  flex: 0 calc(1.6vw * var(--e));
  margin-right: .1vw;
  border: black .15vw solid;
  border-radius: .6vw;
  height: 1.6vw;
  overflow: hidden;
}
.preferrerButtons button {
  border: 0;
  height: 1.6vw;
  width: 1.6vw;
  background-color: white;
  padding: 0;
}
.preferrerButtons button svg {
  width: 100%;
}

.preferrerType{
  font-size: 1.7vw;
  color: white;
  background-color: transparent;
}
.preferrerType option {
  background-color: blue;
}