
/* search result styling */
  .resultType{
    width: 10%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .resultName {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .resultArea {
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 80%;
    color: lightslategrey;
    text-align: right;
  }
  
  .resultRow {
    display: flex;
    flex-direction: row;
    height: 1.7vw;
  }
/* checkboxes to sliders */
.switch {
  position: relative;
  display: inline-block;
  width: 3.6vw;
  height: 2.1vw;
  top: 0.3vw;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 2vw;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 1.7vw;
  width: 1.7vw;
  left: 0.2vw;
  bottom: 0.2vw;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.5vw);
  -ms-transform: translateX(1.5vw);
  transform: translateX(1.5vw);
}

/* number inputs */

input[type=number]{
  border: var(--main-border);
}
  