#options {
  grid-area: options;
  border: 0px;
  color: #ffffff;
  font-size: var(--fs);
  background-color: var(--c-secondary);
  padding: 0 1%;
}

/* search button */
#search {
  border: var(--main-border);
  margin-top: 0;
  align-self: flex-start;
  color: #001049;
  font-size: var(--font-size);
  grid-area: search;
  background-color: var(--c-white);
}

/* input fields and their labels */
.cText {
  align-self: flex-end;
  color: var(--c-text-white);
  font-size: 300%;
}

.autocorrect {
  font-size: 1.5vw;
  max-height: 20vh;
  overflow-y: scroll;
  margin: 0;
  padding-left: 1%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.input1 {
  position: relative;
  z-index: 22;
  border: var(--main-border);
  margin-top: 0%;
  position: relative;
  align-self: flex-start;
  color: var(--c-secondary);
  font-size: var(--font-size);
  background: var(--c-white);
  grid-area: input1;
  width: 99%;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.text1 {
  margin: 0;
  align-self: flex-start;
  color: var(--c-text-white);
  font-size: var(--font-size);
  grid-area: text1;
  text-wrap: nowrap;
  width: 10%;
}

#input1 {
  border: none;
  border-radius: var(--main-radius);
  border-bottom: 1px;
  margin-top: 0%;
  align-self: flex-start;
  color: var(--c-secondary);
  font-size: var(--font-size);
  background: var(--c-white);
  width: 100%;
}

#error1 {
  margin: 0;
  font-size: 15px;
  color: var(--c-error);
}

.input2 {
  position: relative;
  z-index: 21;
  border: var(--main-border);
  margin-top: 0%;
  position: relative;
  align-self: flex-start;
  color: var(--c-secondary);
  font-size: var(--font-size);
  background: var(--c-white);
  grid-area: input2;
  width: 99%;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.text2 {
  margin: 0;
  align-self: flex-start;
  color: var(--c-white);
  font-size: var(--font-size);
  grid-area: text2;
  width: 99%;
}

#input2 {
  border: none;
  border-radius: var(--main-radius);
  margin-top: 0%;
  align-self: flex-start;
  color: var(--c-secondary);
  font-size: var(--font-size);
  background: var(--c-white);
  width: 100%;
}

#error2 {
  margin: 0;
  font-size: 15px;
  color: var(--c-error);
}

.text3 {
  margin: 0;
  align-self: flex-start;
  color: var(--c-white);
  font-size: var(--font-size);
  grid-area: text3;
  width: 99%;
}

#input3 {
  border: var(--main-border);
  margin-top: 0%;
  align-self: flex-start;
  color: var(c--secondary);
  font-size: var(--font-size);
  background: var(--c-white);
  grid-area: input3;
  width: auto;
  height: 100%;
}

#input4 {
  border: var(--main-border);
  margin-top: 0%;
  align-self: flex-start;
  color: #000000;
  font-size: var(--font-size);
  grid-area: weekday;
  width: 95%;
  height: 99%;
}


/* buttons with images */
.back {
  grid-area: back;
  border: none;
  background-color: #fff0;
  background-image: url(img/back.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.apiSelect {
  position: relative;
  border: var(--main-border);
  color: var(c--secondary);
  font-size: var(--font-size);
  background: var(--c-white);;
}