
html{
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: var(--f-normal);
  font-weight: 500;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

.container {
  margin: 0;
  display: grid;
  height: 100vh;
  gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 12fr;
  grid-template-areas:
    "nav nav"
    "main main";
}

#maincontent {
  padding: 0.5%;
  height: 91vh;
  display: grid;
  grid-template-columns: 0.05fr 0.3fr 0.25fr 0.25fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 30fr;
  grid-template-areas:
    "text1 input1 input1 map map"
    "text2 input2 input2 map map"
    "text3 weekday input3 map map"
    "search search search map map"
    "options options options map map";
  gap: 0.2rem;
  background: var(--c-primary);
  grid-area: main;

}

#rph {
  grid-area: rph;
  color: var(--c-white);
  padding-left: 10%;
  font-weight: normal;
  font-family: var(--f-header);
  font-size: var(--fs-h3);
}

#routes {
  grid-area: routes;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.route-preview {
  height: 80px;
  width: 99%;
  background-color: var(--c-white);
  margin: 2px;
  border-radius: 5px;
}

.preview {
  height: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.preview-cell {
  display: flex;
  height: 20px;
  padding-left: 1px;
  color: var(--c-white);;
  border-radius: 5px;
  margin: 0 0.5%;
  overflow: hidden;
  align-items: center;
  width: 0px;
}

#error {
  position: absolute;
  top: -10%;
  width: 100vw;
  background-color: var(--c-error);
  transition: 0.5s cubic-bezier(0.95, 0.05, 0.05, 0.95);
  height: 5vh;
  overflow: hidden;
}

#errorMessage {
  font-size: var(--fs-h3);
  color: var(--c-white);;
  padding-left: 8vh;
}

#result {
  font-size: 150%;
  grid-area: result;
  margin: 0;
  align-self: flex-start;
  background-color: var(--c-primary);;
  color: var(--c-white);
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

/* route styling */
#route {
  font-size: 150%;
  grid-area: route;
  margin: 0;
  align-self: flex-start;
  background-color: var(--c-white);
  color: var(--c-text);;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

.td {
  border: none;
  height: 80px;
}

.bottom_td {
  border: none;
  vertical-align: bottom;
}

.top_td {
  border: none;
  vertical-align: top;
}

.border_td {
  border: none;
  height: 54px;
}

/* LOADING ICON CONTAINER */
.loading {
  position: relative;
  left: 0;
}

.navbar {
  width: 100vw;
  height: 100%;
  grid-area: nav;
}

.lds {
  display: inline-block;
  position: relative;
  margin: 0 15%;
  width: 20%;
  height: 20%;
  ;
}

.lds div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(-c--primary);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: -8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: -8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 16px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 40px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(5) {
  left: 64px;
  animation: lds-ellipsis3 0.6s infinite;
}

.lds-ellipsis-reverse div:nth-child(1) {
  left: -8px;
  animation: lds-ellipsis3 0.6s infinite;
}

.lds-ellipsis-reverse div:nth-child(2) {
  left: 16px;
  animation: lds-ellipsis4 0.6s infinite;
}

.lds-ellipsis-reverse div:nth-child(3) {
  left: 40px;
  animation: lds-ellipsis4 0.6s infinite;
}

.lds-ellipsis-reverse div:nth-child(4) {
  left: 64px;
  animation: lds-ellipsis4 0.6s infinite;
}

.lds-ellipsis-reverse div:nth-child(5) {
  left: 64px;
  animation: lds-ellipsis1 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis4 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-24px, 0);
  }
}

.lds-ring {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#popup {
  width: 25%;
  padding: 2.5%;
  position: absolute;
  z-index: 1000000;
  background-color: var(--c-white);
  transition: 0.5s cubic-bezier(0.95, 0.05, 0.05, 0.95);
  left: -30%;
  bottom: 5%;
}

#modePopup {
  z-index: 10000000;
  font-family: Arial, sans-serif;
  position: absolute;
  top: 10vh;
  left: 35vw;
  width: 10vw;
  background: var(--c-white);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition-duration: 0s;
}

#modePopup.hidden {
  left: 20vw;
  z-index: -1;
}

#modesButton {
  border: var(--main-border);
  margin-top: 1vh;
  width: 40%;
  align-self: flex-start;
  color: var(--c-secondary);
  font-size: var(--font-size);
  background-color: var(--c-white);
}

#modePopupContent svg {
  width: 6vh;
  display: flex;
  flex-direction: column;
  height: 8vh;
}

#modePopupContent div {
  display: flex;
  gap: 5%;
  cursor: pointer;
}

[hidden] {
  display: none;
}